page-main {
  
.addsong {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: cornflowerblue;
    -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.playlist {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: #2A518A;
    -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

}
