<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" text-center>
    <ion-title>GeoPlaylist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
  <ion-card-content>
    <button ion-button (click)="watch()">Get Position</button>
    <p>Position: {{ coords }}</p>
    <p>Accuracy: {{ accuracy }} meters</p>
    <p *ngIf="error">{{ error }}</p>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-content class="page">
  <h1>Geofence</h1>
  <div class="loader"></div>

  <div class="bottom-container">
    <ion-item>
      <ion-range [(ngModel)]="radius" #radiusVal min="40" max="300" color="primary" pin="true" snaps="true" step="20">
      </ion-range>
    </ion-item>
    <ion-label color="secondary" id="lbl">Fence Parameter (Meters)</ion-label>
    <button ion-button large outline block (click)="setGeofence(radiusVal.value)" id="cta" color="primary">Set Geofence</button>

    <p *ngIf="error">{{ error }}</p>

  </div>
</ion-content>